body {
  font-family: "Century Gothic";
  font-weight: 600;
  font-size: calc(0.3rem + 1vw);
  background-color: #444;
  color:whitesmoke;
}

.section__padding {
  padding: 4rem 6rem;
}

.section__margin {
  margin: 4rem 6rem;
}

#Xidigo  img{
  width :100%;
  height: auto;
  padding: 20px 20px;
}

.xidig {
  font-size: calc(0.3rem + 1vw);
}

.xidig h3 {
  font-size: 18px;
  font-size: calc(1.5rem + 1vw);
}

@media screen and (max-width: 550px) {
  body {
    font-size: 15px;
    line-height: 25px;
  }
}


@media screen and (max-width: 300px) {
  body {
    font-size: 14px; 
    line-height: 20px;
  }
}

.Hordhac{
    font-family: serif;
    margin-top: 80px;
    background-color: rgba(0,0,0,0.1);;
    margin-bottom : 60px;
    text-align: center;
    box-shadow: 50px 50px rgba(0,0,0,0.1);
    cursor: pointer;
    transition: all 0.3s;
}

.Hordhac img {
    display: block;
    width: 300px; height: 300px;
    object-fit: cover;
    border:4px solid #726a95;
    border-radius: 50%;
    margin: 0 auto;
}

.zone {
    cursor:pointer;
    color:#FFF;
    /* font-size:2em; */

    border-radius:4px;
    border:1px solid #bbb;
    transition: all 0.3s linear;
}

.zone h3 {
  color: lightblue;
}

.color {
  color: lightblue;
}
.grid-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
    grid-gap: 20px;
}

.box {
    background-color: #444;
    padding: 80px;
    margin: 13px;
}

.box > img {
    width: 100%;
    height: auto;
}

.box > h3 {
  text-align:center;
  justify-content: center;
}

.meere {
  text-align:center;
  justify-content: center;
}

.footer {
  text-align: center;
  color: lightblue;
  padding: 20px;
}

#kaltirsiga {
  text-align:center;
  justify-content: center;
  padding: 30px;
}

#kaltirsiga ul {
  list-style: none;
}

.kala {
  padding: 15px;
}

#text {
  color: pink;
}

.footer {
  background:-moz-linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(25, 38, 70, 1) 49%, rgba(14, 65, 193, 1) 100%); 
  background:-webkit-linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(25, 38, 70, 1) 49%, rgba(14, 65, 193, 1) 100%);
  background:-o-linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(25, 38, 70, 1) 49%, rgba(14, 65, 193, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0E41C1', endColorstr='#000000', GradientType=0 );
  background:-ms-linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(25, 38, 70, 1) 49%, rgba(14, 65, 193, 1) 100%);
  background:linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(25, 38, 70, 1) 49%, rgba(14, 65, 193, 1) 100%);
}
